@font-face {
    font-family: "Franklin Bold";
    src: url(fonts/franklin_gothic_bold.ttf);
}

@font-face {
    font-family: "Franklin Gothic";
    src: url(fonts/ITC\ Franklin\ Gothic\ Demi\ Compressed.otf);
}

@font-face {
    font-family: "Merchant Copy";
    src: url(fonts/Merchant\ Copy.ttf);
}

@font-face {
    font-family: "ITC American Typewriter";
    src: url(fonts/AmericanTypewriterStd-Med.otf);
}


@keyframes slideUp {
    0% {
        top: 0;
        height: 100vh;
    }

    100% {
        top: 0;
        display: none;
        /* Assuming this as the height of your header */
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes cursorBlink {
    0%, 100% { border-right-color: #FEB602; }
    50% { border-right-color: transparent; }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInDown {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}


@keyframes logo-intro {
    0% {}

    5% {
        opacity: 1;
    }

    10% {
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    20% {
        opacity: 0;
    }

    25% {

        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    35% {
        width: 150px;
        height: auto;
        opacity: 0;
    }



    100% {
        transition: 0.5s;
        display: none;
    }
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }

html {
    scroll-behavior: smooth;
}

title {
    font-family: "Franklin Gothic";
}

body {
    font-family: "Franklin Gothic";
    font-size: x-large;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100vh;
    color: white;
    background-color: #F1F1F1;
    transition: 1s;
}

h1,
h2 {
    font-family: "Franklin Gothic";
    font-size: 6vw;


}

header,
footer {
    padding: 25px;
    text-align: center;
}
a {
    color: black;
}

a:hover {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    color: black;
}

section {
    min-height: auto;
    width: 100%;
    scroll-snap-align: start;
    animation: slideUp-section 2s forwards 2s;
    padding: 2%;
    color: black;
    box-sizing: border-box;
    background-color: #F1F1F1
}

#logo-intro {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #55f040; */
    background-color: #55f040;
    /* Assuming white as the background color */
    z-index: 1000;
    /* To ensure it appears above all other content */
    animation: slideUp 2s forwards 2s;
    /* 2 seconds of holding, then 2 seconds of sliding */

}

header img {
    transition: all 1s ease-out;
    /* Adjusts the position smoothly */
}

header #header-logo {
    max-width: 100%;
    /* Adjust as needed */
    transition: all 1s;
    /* This makes the logo shrink smoothly */
}

#logo-intro header {
    max-width: 100%;
    /* Adjust this size for the full-screen appearance */
}

header {
    height: auto;
    width: 100%;
    align-items: center;
    /* Center items vertically */
    /* Space between grid items */
    padding: 0;
    /* Header padding */
    background-color: #F1F1F1;
    line-height: 0.8;
    box-sizing: border-box;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* 12-column grid */
    grid-template-rows: auto;
    gap: 0;
    /* height: 100vh; */
    text-align: left;
    color: black;
    transition: 1s;
    padding: 1rem 1rem;
    line-height: 0.7;
    box-sizing: border-box;
    /* Adjust to match your design */
}

.main-title {
    grid-column: 1 / 10;
    /* Adjust based on your design */
    grid-row: 1;
    font-family: "Franklin Gothic";
    font-size: 10vw;
    animation: slideInLeft 2s forwards 2s;
    color: black;
    box-sizing: border-box;
    /* -webkit-text-stroke: 2px black; */
    /* Adjust to match your design */
    /* Additional styling */
}

.address {
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: "ITC American Typewriter";
    text-transform: none;
    line-height: 1.5;
    grid-column: 2 / 6;
    grid-row: 6;
    font-size: 1.8vw;
    padding-left: 10px;
    box-sizing: border-box;
    animation: slideInRight 3s forwards 2s;
}

#social {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-bottom: 25px;
    grid-column: 4 / 6;
    grid-row: 3;
    opacity: 0;
    font-size: 1.5vw;
    text-transform: uppercase;
    line-height: 1.6;
    font-family: "ITC American Typewriter";
    animation: fadeIn 3s forwards 5s;
    box-sizing: border-box;

}

#social a {
    color: black;
    text-decoration: none;
}

#social a:hover {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    color: black;
}

#sub-section {
    grid-column: 1 / 9;
    grid-row: 2;
    font-family: "Franklin Gothic";
    font-size: 10vw;
    animation: slideInLeft 2.5s forwards 2s;
    box-sizing: border-box;
}

.sub-title {
    grid-column: 1 / 4;
    /* Adjust based on your design */
    grid-row: 3;
    font-family: "Franklin Gothic";
    font-size: 10vw;
    animation: slideInRight 2.5s forwards 2s;
    box-sizing: border-box;
    /* Adjust to match your design */
    /* Additional styling */
}

#end-sub-title {
    grid-column: 1 / 9;
    /* Adjust based on your design */
    grid-row: 4;
    font-family: "Franklin Gothic";
    font-size: 11vw;
    animation: slideInRight 2.5s forwards 2s;
    box-sizing: border-box;
}


.tagline {
    grid-column: 1 / 9;
    /* Span across all columns */
    grid-row: 5;
    /* This should match the font in your design */
    font-size: 11vw;
    animation: slideInLeft 3s forwards 2s;
    box-sizing: border-box;
    /* Adjust to match your design */
    /* Additional styling */
}

#end-tag {
    grid-column: 1 / 2;
    grid-row: 6;
    font-size: 11vw;
    box-sizing: border-box;
    animation: cursorBlink 1s infinite,slideInLeft 3s forwards 2s;
         border-right: 9px solid #56F040; /* Simulates the cursor */
}

.dividing-tag {
    margin: 0;
   padding: 0;
    color: #56F040;
    font-weight: normal;
    animation-name: blink;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    font-size: 8vw;
    line-height: 0;
    box-sizing: border-box;
}

.mobile-title,
.mobile_tagline,
#mobile_sundays,
#mobile_social,
#mobile-end-tag,
#mobile_address,
.mobile-dividing-tag {
    display: none;
}

#navbar {
    overflow: hidden;
    background-color: #F1F1F1;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: right;
    /* To stack sentences and navigation bar */
    font-family: "Franklin Gothic";
    width: 100%;
    transition: all 0.5s ease;
}

#contact_navbar {
    overflow: hidden;
    background-color: #F1F1F1;
    z-index: 1000;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-evenly;
    /* To stack sentences and navigation bar */
    font-family: "Franklin Bold";
    width: 100%;
    transition: all 0.5s ease;
}

#navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    line-height: 1.3;
    text-decoration: none;
    font-size: 2vw;
}

#contact_navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5vw;
}

#navbar a:hover,
#contact_navbar a:hover {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    color: white;
}

#navbar a.active {
    background-color: #F1F1F1;
    color: white;
}

#quote-container {
    /* Adjust the styling as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Full screen height */
    text-align: center;
    font-size: 3vw;
    /* Large text size for quotes */
    font-family: "Franklin Gothic";
    /* Text color */
    color: black;
    /* Background color */
    /* Smooth transition for opacity */
    opacity: 1;
    /* Start fully visible */
    padding: 5%;
    background-color: #F1F1F1;
    box-sizing: border-box;
}

#whats-happening {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

#whats-happening iframe {
    position: absolute;
    top: 0;
    left: 0;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Center tags */
    gap: 10px;
    /* Space between tags */
}

.tag {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    border: black 3px solid;
    /* White background for tags */
    border-radius: 25px;
    /* Rounded corners for tags */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Soft shadow for depth */
    font-weight: bold;
    cursor: pointer;
    /* Indicates the tag is clickable */
    transition: background-color 0.3s, transform 0.3s;
    /* Smooth transition for hover effects */
}

.tag:hover {
    background-color: black;
    /* Light grey background on hover */
    color: white;
    transform: scale(1.1);
    /* Slightly larger on hover */
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#logo {
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-size: 7vw;
}

#email {
    text-decoration: none;
    color: black;
}

.footer_text,
#email {
    font-size: 1vw;
}

#header-logo {
    width: 150px;
    height: auto;
    transition: all 1s ease-out;
    /* Adjusts the position smoothly */
    animation-name: logo-intro;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.typing-line {
    border-right: 5px solid #55f040; /* Simulates the cursor */
    animation: cursorBlink 1s infinite; /* Applies the blinking effect */ 
    overflow: hidden; /* Hides the text until it's 'typed' */
    word-wrap: break-word; /* Ensures words break to wrap within the container */
    white-space: pre-wrap;
    /* Ensure there is enough space for the cursor */
    box-sizing: border-box;
    /* Add other necessary styles here */
}

.cursor {
    display: inline-block;
    animation: cursorBlink 1s infinite; /* Applies the blinking effect */
    color: #55f040;
    animation: none; /* Remove the blink animation initially */
    opacity: 1; /* Ensure the cursor is visible while typing */
}


#nav-logo {
    width: 80px;
    height: auto;
    /* Adjusts the position smoothly */
    /* 2 seconds of holding, then 2 seconds of sliding */
}

a-scene {
    height: 300px;
    width: 600px;
    z-index: 1000;
    animation: fadeIn 2s forwards 2s;
}

#submitButton {
    display: none;
    /* Start as hidden */
    text-decoration: none;
    color: black;
    padding: 5px;
    background-color: #F1F1F1;
    transition: display 0.5s ease;
    /* Smooth transition for showing the button */
    font-family: "Franklin Bold";
    font-size: 1.5vw;
    border: none;
    border-radius: 25px;
    transition: 1s;
}

#submitButton:hover {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* Contact Page */
mark {
    background-color: #F1F1F1;
}

.h2 {
    line-height: 0;
}

.h3 {
    font-size: 3vw;
}

a {
    text-decoration: none;
}

#email {
    color: white;
}

footer {
    background-color: black;
}

.footer_text a {
    text-decoration: none;
    color: white;
}

footer {
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2vw;
    border-bottom: 1px solid white;

}

input[type="email"] {
    border: none;
    outline: none;
    background-color: black;
    font-family: "Merchant Copy";
    color: white;
    font-size: 2vw;
}

.footer-top input[type="email"] {
    margin-left: 10px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.footer-section h3 {
    margin: 0;
    padding-bottom: 5px;
}

.footer-section p {
    margin: 0;
}

.footer-bottom {
    font-size: 1.5vw;
    border-top: 1px solid white;
    padding-top: 10px;
    margin-top: 20px;
}

#insta:hover {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    color: white;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    #navbar a {
        font-size: 5vw;
    }

    #contact_navbar a {
        font-size: 3vw;
    }

    h2 {
        font-size: 11vw;
    }

    h3 {
        font-size: 8vw;
    }
    

    .typing-line {
        font-size: 6vw;
    }
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0;
    }

    #sundays,
    .main-title,
    #sub-section,
    .sub-title,
    .tagline,
    .address,
    #social,
    #end-tag,
    #end-sub-title{
        display: none;
    }

    .mobile-title,
    .mobile_tagline,
    #mobile_sundays,
    #mobile_social,
    #mobile-end-tag,
#mobile_address,
.mobile-dividing-tag {
        display: grid;
    }

    #mobile_sundays {
        grid-row: 1;
        font-size: 30vw;
        color: black;
        /* -webkit-text-stroke: 2px black; */
        animation: slideInLeft 3s forwards 2s;
    }

    #mobile_social {
        grid-row: 2;
        grid-column: 1;
        padding-top: 10px;
        padding-bottom: 25px;
        padding-left: 10px;
        font-size: 4vw;
        font-family: "ITC American Typewriter";
        text-decoration: none;
        color: black;
        animation: slideInRight 2.5s forwards 2s;
    }

    #mobile_social a {
        text-decoration: none;
        color: black;
    }

    .mobile-title {
        grid-row: 3;
        font-size: 15vw;
        animation: slideInRight 2.5s forwards 2s;
    }

    #mobile_address {
        display: flex;
    align-items: left;
    flex-direction: column;
    font-family: "ITC American Typewriter";
    text-transform: none;
    padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 10px;
    line-height: 1;
    grid-row: 4;
    font-size: 4vw;
    box-sizing: border-box;
    animation: slideInRight 3s forwards 2s;
    text-decoration: none;

    /* For older Safari */
    -webkit-animation: slideInRight 3s forwards 2s;
    }

    .mobile_tagline {
       
        grid-row: 5;
        font-size: 16vw;
        text-align: left;
        color: black;
        animation: slideInLeft 3s forwards 2s;

    }
    #mobile-end-tag {
         width: 71%;
         grid-row: 6;
         font-size: 16vw;
         animation: cursorBlink 1s infinite,slideInLeft 3s forwards 2s;
         border-right: 5px solid #56F040; /* Simulates the cursor */
    }

    .h2 {
        font-size: 12vw;
        padding-top: 25px;
    }

    .h3 {
        font-size: 8vw;
    }

    #whats-happening {
        /* or any other color you prefer */
        padding-top: 2em;
        /* Center the heading */
    }

    #logo {
        font-size: 12vw;
    }

    #submitButton {
        font-size: 6vw;
    }

    .footer-top {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 5vw;
        padding-left: 30px;
        padding-right: 30px;
    }

    #emailInput {
        margin: 0;
        padding: 0;
        font-size: 8vw;
        text-align: center;
    }

    .footer_text,
    #email {
        font-size: 3vw;
    }

    .footer-bottom {
        font-size: 3.5vw;
    }
}

/* Responsive layout adjustments */
@media (max-width: 1360px) {


    .footer-content {
        flex-direction: column;
    }

    .footer-section {
        margin-bottom: 15px;
    }
}